<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.AdminMapper">
    <!--修改管理员信息-->
    <update id="updateOne" parameterType="admin">
        UPDATE admin
        <set>
            <if test="admin.admin_nickname != null">admin_nickname = #{admin.admin_nickname},</if>
            <if test="admin.admin_icon != null">admin_icon = #{admin.admin_icon},</if>
            <if test="admin.admin_phone != null">admin_phone = #{admin.admin_phone},</if>
            <if test="admin.admin_email != null">admin_email = #{admin.admin_email},</if>
            <if test="admin.admin_password != null">admin_password = #{admin.admin_password}</if>
        </set>
        <where>
            admin_id = #{admin.admin_id}
        </where>
    </update>
    <!--查询管理员信息-->
    <select id="selectOne" resultType="admin" parameterType="int">
        SELECT admin_id,admin_name,admin_nickname,admin_icon,admin_phone,admin_email FROM admin
        <where>
            <if test="admin_id != null">
                admin_id = #{admin_id}
            </if>
            <if test="admin_name != null">
                admin_name = #{admin_name}
            </if>
        </where>
    </select>
    <!--登录-->
    <select id="selectByLogin" resultType="admin">
        SELECT admin_id FROM admin
        <where>
            admin_name = #{admin_name} and admin_password = #{admin_password}
        </where>
    </select>
</mapper>