<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.OrderItemMapper">
    <resultMap id="orderItemMap" type="OrderItem">
        <id property="orderItem_id" column="orderItem_id"/>
        <result property="orderItem_number" column="orderItem_number"/>
        <result property="orderItem_price" column="orderItem_price"/>
        <association property="orderItem_product" javaType="com.example.mall.entity.Product">
            <id property="product_id" column="orderItem_product_id"/>
        </association>
        <association property="orderItem_order" javaType="com.example.mall.entity.Order">
            <id property="order_id" column="orderItem_order_id"/>
        </association>
        <association property="orderItem_user" javaType="com.example.mall.entity.User">
            <id property="user_id" column="orderItem_user_id"/>
        </association>
    </resultMap>
    <!--添加订单项-->
    <insert id="insertOne" parameterType="orderItem">
        INSERT orderItem
        (orderItem_id,orderItem_number,orderItem_price,orderItem_product_id,orderItem_order_id,orderItem_user_id)
        VALUES (
        null,
        #{orderItem.orderItem_number},
        #{orderItem.orderItem_price},
        #{orderItem.orderItem_product.product_id},
        #{orderItem.orderItem_order.order_id},
        #{orderItem.orderItem_user.user_id})
    </insert>
    <!--更新订单项-->
    <update id="updateOne" parameterType="orderItem">
        UPDATE orderItem
        <set>
            <if test="orderItem.orderItem_order != null">
                orderItem_order_id = #{orderItem.orderItem_order.order_id},
            </if>
            <if test="orderItem.orderItem_number != null">
                orderItem_number = #{orderItem.orderItem_number},
            </if>
            <if test="orderItem.orderItem_price != null">
                orderItem_price = #{orderItem.orderItem_price}
            </if>
        </set>
        <where>
            orderItem_id = #{orderItem.orderItem_id}
        </where>
    </update>
    <!--列表删除订单项-->
    <delete id="deleteList" parameterType="java.util.ArrayList">
        DELETE FROM orderItem
        <where>
            orderItem_id IN
            <foreach collection="orderItem_id_list" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </delete>
    <!--查询订单项列表-->
    <select id="select" parameterType="com.example.mall.util.PageUtil" resultMap="orderItemMap">
        SELECT
        orderItem_id,orderItem_number,orderItem_price,orderItem_product_id,orderItem_order_id,orderItem_user_id
        FROM orderItem
        <if test="pageUtil != null">
            LIMIT #{pageUtil.index},#{pageUtil.count}
        </if>
    </select>
    <!--订单id查询订单项-->
    <select id="selectByOrderId" resultMap="orderItemMap">
        SELECT
        orderItem_id,orderItem_number,orderItem_price,orderItem_product_id,orderItem_order_id,orderItem_user_id
        FROM orderItem
        <where>
            orderItem_order_id = #{order_id}
        </where>
        <if test="pageUtil != null">
            LIMIT #{pageUtil.index},#{pageUtil.count}
        </if>
    </select>
    <!--用户id查询订单项-->
    <select id="selectByUserId" resultMap="orderItemMap">
        SELECT
        orderItem_id,orderItem_number,orderItem_price,orderItem_product_id,orderItem_order_id,orderItem_user_id
        FROM orderItem
        <where>
            orderItem_user_id = #{user_id} and orderItem_order_id is null
        </where>
        <if test="pageUtil != null">
            LIMIT #{pageUtil.index},#{pageUtil.count} AND orderItem_order_id is null
        </if>
    </select>
    <!--产品id查询订单项-->
    <select id="selectByProductId" resultMap="orderItemMap">
        SELECT
        orderItem_id,orderItem_number,orderItem_price,orderItem_product_id,orderItem_order_id,orderItem_user_id
        FROM orderItem
        <where>
            orderItem_product_id = #{product_id}
        </where>
        <if test="pageUtil != null">
            LIMIT #{pageUtil.index},#{pageUtil.count}
        </if>
    </select>
    <!--订单项id查询订单项-->
    <select id="selectOne" resultMap="orderItemMap" parameterType="int">
        SELECT
        orderItem_id,orderItem_number,orderItem_price,orderItem_product_id,orderItem_order_id,orderItem_user_id
        FROM orderItem
        <where>
            orderItem_id = #{orderItem_id}
        </where>
    </select>
    <!--合计订单项数量-->
    <select id="selectTotal" resultType="int">
        SELECT COUNT(orderItem_id) FROM orderItem
    </select>
    <!--订单id合计订单项数量-->
    <select id="selectTotalByOrderId" resultType="int" parameterType="int">
        SELECT COUNT(orderItem_id) FROM orderItem
        <where>
            orderItem_order_id = #{order_id}
        </where>
    </select>
    <!--用户id合计订单项数量-->
    <select id="selectTotalByUserId" resultType="int" parameterType="int">
        SELECT COUNT(orderItem_id) FROM orderItem
        <where>
            orderItem_user_id = #{user_id} AND orderItem_order_id is null
        </where>
    </select>
    <!--产品id合计订单项数量-->
    <select id="selectTotalByProductId" resultType="int" parameterType="int">
        SELECT COUNT(orderItem_id) FROM orderItem
        <where>
            orderItem_product_id = #{product_id}
        </where>
    </select>
    <!--产品id合计销售量-->
    <select id="selectSaleCount" resultType="int" parameterType="int">
        SELECT SUM(orderItem_number) FROM orderItem WHERE orderItem_product_id = #{product_id}
    </select>
</mapper>